
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.body{
  background-color: #F5F9FD;
}
.container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 300px);
  grid-auto-rows: 1fr;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  /* margin: 0 auto; */
  justify-content: center;
}
h1 {
  
  font-size: 1.5rem;
 
 

}
.item{
  /* border: 1px solid black; */
  border-radius: 20px;
  height: 200px;
  width: auto;
  position: relative;
  background-color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
  /* border: solid 1px black; */

}

.item:nth-child(1) {
  grid-column: 1/5;
  grid-row: 1/2;
  height: 80px;
  /* padding: 0;
    margin: 0; */
  display: grid;
  justify-content: left;
  align-content: center;
  background: transparent;
  
  
}

.item:nth-child(2) {
  grid-column: 1/5;
  grid-row: 2/4;
  height: 320px;
 width: 100%;
  margin-bottom: 20px;
  background: url(./assets/img/featured.jpg) no-repeat center/cover;
}

.item:nth-child(3) {
  grid-column: 1/2;
  grid-row: 4/6;
  
  
}

.item:nth-child(4) {
  grid-column: 2/3;
  grid-row: 4/6;
  
 
}

.item:nth-child(5) {
  grid-column: 3/4;
  grid-row: 4/6;
  
  
}

.item:nth-child(6) {
  grid-column: 4/5;
  grid-row: 4/6;
  
  
}

.item:nth-child(7) {
  grid-column: 1/2;
  grid-row: 6/8;
 
}

.item:nth-child(8) {
  grid-column: 2/3;
  grid-row: 6/8;
  
}

.item:nth-child(9) {
  grid-column: 3/4;
  grid-row: 6/8;
  background: none;
  
}

.item:nth-child(10) {
  grid-column: 4/5;
  grid-row: 6/8;
  background: none;
  
}

.item:nth-child(11) {
  grid-column: 1/5;
  grid-row: 8/9;
  background: none;
  
  height: 80px;
}


.circle_icon{
  position: absolute;
  left: 20px;
  top: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #D6EDFE;
}

.fa-code{
  color: #0F9EFD;
}

.tag_text{
  position: absolute;
  top: 100px;
  left: 20px;
  
}

.tag_title{
  color: #2E3D68;
}

.tag_text p{
  color: #93B4D3;
}

.post2 > .circle_icon{
  background-color: #FFF2D6;
}

.fa-pizza-slice{
  color: #FEA929;
}

.post3 > .circle_icon{
  background-color: #EADEFD;
}

.fa-laptop{
  color: #9A55FB;
}

.post4 > .circle_icon{
  background-color: #FEDEE6;
}

.fa-music{
  color: #FD4E6F;
}

.post5 > .circle_icon{
  background-color: #D7F4E4;
}

.fa-microphone-lines{
  color: #00A042;
}

.post6 > .circle_icon{
  background-color: #D4ECFE;
}

.fa-book-open{
color: #0094FB;
}

.post7 > .circle_icon{
  background-color: #FEE0E7;
}

.fa-heart{
  color: #FD154A;
}

.post8 > .circle_icon{
  background-color: #EAEDF5;
}

.fa-star{
  color: #7789A6;
}
/* ///////////////  tablets  //////////////// */

@media (min-width: 481px) and (max-width: 952px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .item:nth-child(even),
  .item:nth-child(odd) {
    grid-column: auto;
    grid-row: auto;
    ;
  }

   .title {
    position: relative;
  }
  .title h1 {
    font-size: 2rem;
    position: absolute;
    left: 48px;
  }
}

/* celulares */

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }

  .item:nth-child(even),
  .item:nth-child(odd) {
    grid-column: auto;
    grid-row: auto;
  }
  .item {
    height: 200px;
  } 

 

  .title {
    position: relative;
  }
  .title h1 {
    font-size:2rem;
    position: absolute;
    left: 73px;
  }
}
