* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  background-color: #f5f9fd;
}
.container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 300px);
  grid-auto-rows: 1fr;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  /* margin: 0 auto; */
  justify-content: center;
}


.title  i { 
  display: inline-block;
 margin-right: 10px; 
  vertical-align: top; 
  
 
}

.tag__title{
  background-color: #CBE2F3;
  width: fit-content;
  border-radius: 5px;
  padding: 2px 3px;
  color: #4C7AA2;
  font-size: small;
  
  
}

.featured__title > p {
  font-size: 1rem;
  color: #1b4279;
}
.featured__title{
  display: grid;
  gap: 10px;
  width: 30%;
  position: relative;
  top: 30%;
  left: 20px;
  font-size: 1rem;
  color: #1D3251;
}

.fa-folder-open{
   color: #74C0FC;
}
h1 {
  
  font-size: 1.5rem;
  color: #1b4279; 
  
  margin-left: 10px;
}
.item {
  /* border: 1px solid black; */
  border-radius: 20px;
  height: 200px;
  width: auto;
  position: relative;
  background-color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
  /* border: solid 1px black; */
}



.item:nth-child(1) {
  grid-column: 1/5;
  grid-row: 1/2;
  height: 80px;
  /* padding: 0;
    margin: 0; */
  display: grid;
  justify-content: left;
  align-content: center;
  background: transparent;
}

.item:nth-child(2) {
  grid-column: 1/5;
  grid-row: 2/4;
  height: 320px;
  width: 100%;
  margin-bottom: 20px;
  background: url("https://live.staticflickr.com/65535/55538821438_f7bda234db_b.jpg") no-repeat center/cover;
}

.item:nth-child(3) {
  grid-column: 1/2;
  grid-row: 4/6;
}

.item:nth-child(4) {
  grid-column: 2/3;
  grid-row: 4/6;
}

.item:nth-child(5) {
  grid-column: 3/4;
  grid-row: 4/6;
}

.item:nth-child(6) {
  grid-column: 4/5;
  grid-row: 4/6;
}

.item:nth-child(7) {
  grid-column: 1/2;
  grid-row: 6/8;
}

.item:nth-child(8) {
  grid-column: 2/3;
  grid-row: 6/8;
}

.item:nth-child(9) {
  grid-column: 3/4;
  grid-row: 6/8;
  background: none;
}

.item:nth-child(10) {
  grid-column: 4/5;
  grid-row: 6/8;
  background: none;
}

.item:nth-child(11) {
  grid-column: 1/5;
  grid-row: 8/9;
  background: none;
  height: 80px;
}

.circle_icon {
  position: absolute;
  left: 20px;
  top: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #d6edfe;
  transition: all .5s ease;
}

.circle_icon:hover{
 
 transform: scale(1.3);
 transition: all .5s ease;
}

.fa-code {
  color: #0f9efd;
}

.tag_text {
  position: absolute;
  top: 100px;
  left: 20px;
}

.tag_title {
  color: #2e3d68;
}

.tag_text p {
  color: #93b4d3;
}

.post2 > .circle_icon {
  background-color: #fff2d6;
}

.fa-pizza-slice {
  color: #fea929;
}

.post3 > .circle_icon {
  background-color: #eadefd;
}

.fa-laptop {
  color: #9a55fb;
}

.post4 > .circle_icon {
  background-color: #fedee6;
}

.fa-music {
  color: #fd4e6f;
}

.post5 > .circle_icon {
  background-color: #d7f4e4;
}

.fa-microphone-lines {
  color: #00a042;
}

.post6 > .circle_icon {
  background-color: #d4ecfe;
}

.fa-book-open {
  color: #0094fb;
}

.post7 > .circle_icon {
  background-color: #fee0e7;
}

.fa-heart {
  color: #fd154a;
}

.post8 > .circle_icon {
  background-color: #eaedf5;
}

.fa-star {
  color: #7789a6;
}

.footer {
  display: flex;
  justify-content: center;
  align-content: center;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-evenly;
  font-size: 0.8rem;
  color: #93b4d3;
}

.cc {
  color: #93b4d3;
}

.cc a {
  color: #93b4d3;
}

.fa-dev,
.fa-square-github,
.fa-square-x-twitter,
.fa-square-instagram {
  font-size: 2rem;
}
/* ///////////////  tablets  //////////////// */

@media (min-width: 481px) and (max-width: 952px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .item:nth-child(even),
  .item:nth-child(odd) {
    grid-column: auto;
    grid-row: auto;
  }

  .title {
    position: relative;
  }
  .title h1 {
    font-size: 2rem;
    position: absolute;
    left: 48px;
  }
}

/* celulares */

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }

  .item:nth-child(even),
  .item:nth-child(odd) {
    grid-column: auto;
    grid-row: auto;
  }
  .item {
    height: 200px;
  }

  .title {
    position: relative;
  }
  .title h1 {
    font-size: 2rem;
    position: absolute;
    left: 73px;
  }
}
